.container{
    margin: 2% auto auto auto;
    
    width: 75%;
    border-style: solid;
    border-color: #409FF8;
    border-radius: 25px;
    border-width: 9px;
    height: 51em;
    padding: auto;
}

.collectionContainer{
    border-style: solid;
    border-color: #409FF8;
    border-radius: 11px;
    width: 15%;
    text-align: center;
    justify-content: center;
    margin: 5em 2em 0em 6em;
    background-color: #C5E3FF;
    display: inline-block;
    position: relative;
}
.collectionContainer hr{
    height: 5px;
    background-color:#409FF8 ;
    border: none;
}
.collectionContainer p{
    margin-top: 20%;
    margin-bottom: 40%;
    font-size: 25px;
    color: #005fb8;
}
.collectionContainer h2{
    color: #409FF8;
}

.collectionContainer button{
    border-style: solid;
    border-color: #409FF8;
    border-radius: 19px;
    background-color: #C5E3FF;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    color: #409FF8;
    font-weight: bold;
}
.collectionContainer button:hover{
    cursor: pointer;
    background-color: #abd6ff;
}

.trashImg{
    height: 2.3em;
    position: absolute;
    right: 0.5em;
    bottom: 1em;
    opacity: 0.8;
    filter: invert(15%) sepia(54%) saturate(6962%) hue-rotate(199deg) brightness(97%) contrast(101%);
}
.trashImg:hover{
    cursor: pointer;
    opacity: 1;
}

.editImg{
    height: 2.3em;
    position: absolute;
    left: 0.5em;
    bottom: 1em;
    opacity: 0.6;
    filter: invert(15%) sepia(54%) saturate(6962%) hue-rotate(199deg) brightness(97%) contrast(101%);
    /* filter: invert(56%) sepia(84%) saturate(2440%) hue-rotate(186deg) brightness(100%) contrast(95%); */
}
.editImg:hover{
    cursor: pointer;
    opacity: 1;
}

.collectionContainerPlaceHolder {
    border-style: solid;
    border-color: #409FF8;
    border-radius: 11px;
    width: 15%;
    text-align: center;
    justify-content: center;
    margin: 5em 2em 0 6em;
    background-color: #C5E3FF;
    display: inline-block; 
    padding-bottom: 1.58em;
    padding-top: 3.5em;
    opacity: 0.2;
}
.collectionContainerPlaceHolder:hover{
    opacity: 0.4;
    cursor: pointer;
}
.collectionContainerPlaceHolder img{
    height: 200px;
    display: inline-block;
}
